<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android" id="com.zlzkj.cordova.activity"
	version="1.0.0">

	<name>activity</name>

	<description>
		start native activity plugins
	</description>

	<engines>
		<engine name="cordova" version=">=3.0.0" />
	</engines>

	<js-module src="www/activity.js" name="activity">
		<clobbers target="cordova.plugins.activity" />
	</js-module>

	<!-- android -->
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<!-- 这里name是在js调用exec时的第三个参数,name跟java类名对应 -->
			<feature name="ActivityPlugin">
				<param name="android-package" value="com.zlzkj.cordova.ActivityPlugin" />
			</feature>
		</config-file>

		<source-file src="src/android/com/zlzkj/cordova/ActivityPlugin.java"
			target-dir="src/com/zlzkj/cordova" />
	</platform>

</plugin>
